*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
        font-size: 62.5%;
    }
    body{
        min-height: 100vh;
       background-color: black;
        display: flex;
        justify-content: center;
    align-items: center;
    margin-top: 20%;
    }

    a,
    a:hover{
        text-decoration: none;
    }
    .searchBox{
        background-color:black;
        position: relative;
        display: flex;
        justify-content: center;
    align-items: center;
       
    }

    
    .searchText{
        width: 0rem;
        border-radius: 5rem;
        border: none;
    outline: none;
    transition: all 0.2s linear;
    }

    .searchText:focus{
        outline: none;
    

    }
    .searcgBtn{
        width: 5rem;
    height: 5em;
background-color: #273c75;
text-align: center;
right: 0px;
top: 13px;
    color: #FFF;
    position: absolute;
    display: grid;
    place-items: center;
    }
    .searchBox:hover >.searchText{
            width: 25rem;
            padding: 2rem;
            box-shadow: 0 2rem 2rem --1.5rem rgba(0, 0, 0, 0.5);


    }
    .searchBox:hover >.searcgBtn{
        
    
    color: royalblue;
    }